
.a{
  text-decoration: none;
  color: black;
}
body{
  overflow-x: hidden;
}
ul,li{
  list-style-type: none;
}
nav{
  background-color: #131921;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
}
nav .img{
  width: 120px;
}
nav .img img{
  height: 100%;
  width: 100%;
}
.ser input{
  width: 400px;
  border: none;
  padding: 8px;
}
.ser button{
  background-color: #F3A847;
  border: none;
  font-size: 20px;
  border-radius: 0px 3px 3px 0px;
  padding: 5px 12px;
}
#dropdown-basic{
  font-size: 14px !important;
  background-color: #E6E6E6;
  color: black;
  border-radius: 0px;
  padding-top: 9px;
  padding-bottom: 10px;
}
.drop_main{
  position: relative;
  z-index: 999;
}
.drop_down{
  height: 300px;
  overflow-y: scroll;
}
.drop_down .items:hover{
  background-color: #3367D1;
  color: white;
} 

.Main_content{
  margin-top: 25px;
}
.Main_content .left_side{
  padding: 20px;
}
.Main_content .left_side li{
  font-size: 18px;
}
.Main_content .left_side li:hover{
  cursor: pointer;
}
.Main_content .box{
  margin-bottom: 25px;
  background-color: #F7F7F7;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.Main_content .box .img{
  width: 400px;
  height: 266px;
  background-color: white;
}
.Main_content .box .img img{
  object-fit: contain;
}
.Main_content .content .icons i{
  color: #FFA41C;
  font-size: 16px;
}
.Main_content .content .dis{
 font-size: 18px;
 font-weight: 500;
}
.Main_content .content .sup{
  font-size: 18px;
}
.Main_content .content .price{
  font-size: 30px;
  font-weight: 600;
}

/* --------content.js --------- */
.item{
  padding: 10px;
}
.item .imgs li{
  margin: 0px auto !important;
  margin-bottom: 1px !important;
}
.item .ImgBtn{
  width: 80px;
  height: 65px;
  margin-top: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.item .product_img{
  width: 600px;
  height: 400px;
  background-color: #131921;
  margin-bottom: 30px;
}
.cnt > font{
  color: #1F8294;
}
.cnt .icons{
  font-size: 18px;
  margin-top: 2px;
}
.cnt .icons i{
  color: #F3A847;
  font-size: 18px;
}
.cnt .sup{
  font-size: 20px;
}
.cnt .price{
  font-size: 35px;
  font-weight: 600;
}
.cnt .dis{
  font-size: 22px;
  font-weight: 500;
  color: #1F8294;
 }
 .cnt .l_cnt .span{
  font-weight: 600;
  font-size: 18px;
 }